In [1]:
import os
import plaid
import requests
import datetime
import json
import pandas as pd
%matplotlib inline

In [2]:
def pretty_print_response(response):
  print(json.dumps(response, indent=4, sort_keys=True))

In [3]:
PLAID_CLIENT_ID = os.getenv('PLAID_CLIENT_ID')
PLAID_SECRET = os.getenv('PLAID_SECRET_SANDBOX_KEY')
PLAID_PUBLIC_KEY = os.getenv('PLAID_PUBLIC_KEY')
PLAID_ENV = os.getenv('PLAID_ENV', 'sandbox')
PLAID_PRODUCTS = os.getenv('PLAID_PRODUCTS', 'transactions')

# Plaid Access Token

In this section, you will use the plaid-python api to generate the correct authentication tokens to access data in the free developer Sandbox. This mimics how you might connect to your own account or a customer account, but due to privacy issues, this homework will only require connecting to and analyzing the fake data from the developer sandbox that Plaid provides. 

Complete the following steps to generate an access token:
1. Create a client to connect to plaid
2. Use the client to generate a public token and request the following items: 
['transactions', 'income', 'assets']
3. Exchange the public token for an access token
4. Test the access token by requesting and printing the available test accounts

### 1. Create a client to connect to plaid

In [4]:
INSTITUTION_ID = "ins_109508"
client = plaid.Client(client_id=PLAID_CLIENT_ID, secret=PLAID_SECRET,public_key=PLAID_PUBLIC_KEY, environment = "sandbox")
# client.Institutions.get(5)

### 2. Generate a public token

In [5]:
# YOUR CODE HERE
create_tkn_response = client.Sandbox.public_token.create(INSTITUTION_ID, ["transactions","income","assets"])
# create_tkn_response

### 3. Exchange the public token for an access token

In [6]:
exchange_response = client.Item.public_token.exchange(create_tkn_response["public_token"])
access_token = exchange_response["access_token"]
# access_token

### 4. Fetch Accounts

In [7]:
# YOUR CODE HERE
client.Accounts.get(access_token)

{'accounts': [{'account_id': 'oeN4JpEPDZumeVaKwjQJfKRyg6LQLBhRD46BW',
   'balances': {'available': 100,
    'current': 110,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '0000',
   'name': 'Plaid Checking',
   'official_name': 'Plaid Gold Standard 0% Interest Checking',
   'subtype': 'checking',
   'type': 'depository'},
  {'account_id': 'gxZKPj9zXwTAZpmKkBX1FwaBznyXyZtgBjAZA',
   'balances': {'available': 200,
    'current': 210,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '1111',
   'name': 'Plaid Saving',
   'official_name': 'Plaid Silver Standard 0.1% Interest Saving',
   'subtype': 'savings',
   'type': 'depository'},
  {'account_id': '8bVeDBK5m4h9qmEAevxQfa7ypnjojKFw6vDQd',
   'balances': {'available': None,
    'current': 1000,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '2222',
   'name': 'Plaid CD',
   'official_name': 'Plaid Bronze Standard 0.2% Interest CD',
   'subtype': 'cd',
   'type': 'depository'},
  {'account_id': 'EdEGwMePKRsA9zv8nbWZFX3PEWZzZgiX7ZWZo',
   'balances': {'available': None,
    'current': 410,
    'iso_currency_code': 'USD',
    'limit': 2000,
    'unofficial_currency_code': None},
   'mask': '3333',
   'name': 'Plaid Credit Card',
   'official_name': 'Plaid Diamond 12.5% APR Interest Credit Card',
   'subtype': 'credit card',
   'type': 'credit'},
  {'account_id': 'WWgvL6NbMwFQNr7WEBjeCRxblGWqWwcl8oeon',
   'balances': {'available': 43200,
    'current': 43200,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '4444',
   'name': 'Plaid Money Market',
   'official_name': 'Plaid Platinum Standard 1.85% Interest Money Market',
   'subtype': 'money market',
   'type': 'depository'},
  {'account_id': 'Azb8x7NdV5UJ9qbenyoguMoZVWApAah1DRqRz',
   'balances': {'available': None,
    'current': 320.76,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '5555',
   'name': 'Plaid IRA',
   'official_name': None,
   'subtype': 'ira',
   'type': 'investment'},
  {'account_id': 'G4BvyLZ7zbslqowExXDkF9EwvAKpKyS1vJDJQ',
   'balances': {'available': None,
    'current': 23631.9805,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '6666',
   'name': 'Plaid 401k',
   'official_name': None,
   'subtype': '401k',
   'type': 'investment'},
  {'account_id': 'n71aMLENDmS4Z3Eq6PnBSV5og6dnd7u6RP1PN',
   'balances': {'available': None,
    'current': 65262,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '7777',
   'name': 'Plaid Student Loan',
   'official_name': None,
   'subtype': 'student',
   'type': 'loan'}],
 'item': {'available_products': ['auth',
   'balance',
   'credit_details',
   'identity',
   'investments',
   'liabilities'],
  'billed_products': ['assets', 'income', 'transactions'],
  'consent_expiration_time': None,
  'error': None,
  'institution_id': 'ins_109508',
  'item_id': 'eBQlPNEKX4HJ41XkqrwbuPyo51aoJ5cLdZMl7',
  'webhook': ''},
 'request_id': '8gcXby4y31wXgAc'}

---

# Account Transactions with Plaid

In this section, you will use the Plaid Python SDK to connect to the Developer Sandbox account and grab a list of transactions. You will need to complete the following steps:


1. Use the access token to fetch the transactions for the last 90 days
2. Print the categories for each transaction type
3. Create a new DataFrame using the following fields from the JSON transaction data: `date, name, amount, category`. (For categories with more than one label, just use the first category label in the list)
4. Convert the data types to the appropriate types (i.e. datetimeindex for the date and float for the amount)

### 1. Fetch the Transactions for the last 90 days

In [47]:
# pulling all days available, will segment to 90 days using slice below
start_date = '{:%Y-%m-%d}'.format(datetime.datetime.now() + datetime.timedelta(-365))
end_date = '{:%Y-%m-%d}'.format(datetime.datetime.now())
transaction_response = client.Transactions.get(access_token,start_date,end_date)
transactions = transaction_response["transactions"]
# transactions
# transaction_response[["account_id"]]
# print(json.dumps(transaction_response['transactions'][:2],indent=4, sort_keys=True))
print(json.dumps(transactions[:2],indent=4, sort_keys=True))
# transactionDF

[
    {
        "account_id": "gxZKPj9zXwTAZpmKkBX1FwaBznyXyZtgBjAZA",
        "account_owner": null,
        "amount": 25,
        "authorized_date": null,
        "category": [
            "Payment",
            "Credit Card"
        ],
        "category_id": "16001000",
        "date": "2020-01-16",
        "iso_currency_code": "USD",
        "location": {
            "address": null,
            "city": null,
            "country": null,
            "lat": null,
            "lon": null,
            "postal_code": null,
            "region": null,
            "store_number": null
        },
        "name": "CREDIT CARD 3333 PAYMENT *//",
        "payment_channel": "other",
        "payment_meta": {
            "by_order_of": null,
            "payee": null,
            "payer": null,
            "payment_method": null,
            "payment_processor": null,
            "ppd_id": null,
            "reason": null,
            "reference_number": null
        },
        "pending": false,
        "pending_transaction_id": null,
        "transaction_id": "P1XvQnzgWRcaGNAvwoqru1AxBz4g5Ms7XWRXq",
        "transaction_type": "special",
        "unofficial_currency_code": null
    },
    {
        "account_id": "oeN4JpEPDZumeVaKwjQJfKRyg6LQLBhRD46BW",
        "account_owner": null,
        "amount": 5.4,
        "authorized_date": null,
        "category": [
            "Travel",
            "Car Service",
            "Ride Share"
        ],
        "category_id": "22006001",
        "date": "2020-01-16",
        "iso_currency_code": "USD",
        "location": {
            "address": null,
            "city": null,
            "country": null,
            "lat": null,
            "lon": null,
            "postal_code": null,
            "region": null,
            "store_number": null
        },
        "name": "Uber 063015 SF**POOL**",
        "payment_channel": "online",
        "payment_meta": {
            "by_order_of": null,
            "payee": null,
            "payer": null,
            "payment_method": null,
            "payment_processor": null,
            "ppd_id": null,
            "reason": null,
            "reference_number": null
        },
        "pending": false,
        "pending_transaction_id": null,
        "transaction_id": "pQpNPowjDbUAjQvrdGw9FjPnr7DWL1CLJVdJe",
        "transaction_type": "special",
        "unofficial_currency_code": null
    }
]

In [49]:
headers = transactions[0][0]["address"]["value"]

KeyError: 0

### 2. Print the categories for each transaction

In [9]:

# print(transactionsDF.columns)

### 3. Create a new DataFrame using the following fields from the JSON transaction data: date, name, amount, category. 

(For categories with more than one label, just use the first category label in the list)

In [35]:
# YOUR CODE HERE
transactions = transaction_response["transactions"]
transactionsDF = pd.DataFrame(transactions)
# transactionsDF[0:0]
# transactionsDF.head()
transactionsDF_working = transactionsDF[["date","name","amount","category"]]
transactionsDF_working.head()
# transactionsDF_working["category"] = transactionsDF_working["category"].str.replace("[Payment, Credit Card]","Payment")
# transactionsDF_working

,date,name,amount,category
0,2020-01-16,CREDIT CARD 3333 PAYMENT *//,25.0,"[Payment, Credit Card]"
1,2020-01-16,Uber 063015 SF**POOL**,5.4,"[Travel, Car Service, Ride Share]"
2,2020-01-15,ACH Electronic CreditGUSTO PAY 123456,5850.0,"[Transfer, Debit]"
3,2020-01-15,CD DEPOSIT .INITIAL.,1000.0,"[Transfer, Deposit]"
4,2020-01-14,Touchstone Climbing,78.5,"[Recreation, Gyms and Fitness Centers]"

### 4. Convert the data types to the appropriate types 

(i.e. datetimeindex for the date and float for the amount)

In [36]:
# YOUR CODE HERE
transactionsDF_working.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
date        100 non-null object
name        100 non-null object
amount      100 non-null float64
category    100 non-null object
dtypes: float64(1), object(3)
memory usage: 3.2+ KB

In [39]:
# transactionsDF_working["date"] = pd.to_datetime(transactionsDF_working["date"],infer_datetime_format = True)
transactionsDF_working["date"] = pd.to_datetime(transactionsDF_working.loc[:,"date"],infer_datetime_format = True)
# pd.to_datetime(transactionsDF_working["date"],infer_datetime_format = True)
# transactionsDF_working["category"][0:][0]
transactionsDF_working

C:\Users\travi\Anaconda3\envs\vizenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,date,name,amount,category
0,2020-01-16,CREDIT CARD 3333 PAYMENT *//,25.0,"[Payment, Credit Card]"
1,2020-01-16,Uber 063015 SF**POOL**,5.4,"[Travel, Car Service, Ride Share]"
2,2020-01-15,ACH Electronic CreditGUSTO PAY 123456,5850.0,"[Transfer, Debit]"
3,2020-01-15,CD DEPOSIT .INITIAL.,1000.0,"[Transfer, Deposit]"
4,2020-01-14,Touchstone Climbing,78.5,"[Recreation, Gyms and Fitness Centers]"
...,...,...,...,...
96,2019-07-20,CREDIT CARD 3333 PAYMENT *//,25.0,"[Payment, Credit Card]"
97,2019-07-20,Uber 063015 SF**POOL**,5.4,"[Travel, Car Service, Ride Share]"
98,2019-07-19,ACH Electronic CreditGUSTO PAY 123456,5850.0,"[Transfer, Debit]"
99,2019-07-19,CD DEPOSIT .INITIAL.,1000.0,"[Transfer, Deposit]"
date,NaT,NaN,NaN,NaN

In [13]:
transactionsDF_working["category"][0][0]

'Payment'

---

# Income Analysis with Plaid

In this section, you will use the Plaid Sandbox to complete the following:
1. Determine the previous year's gross income and print the results
2. Determine the current monthly income and print the results
3. Determine the projected yearly income and print the results

In [43]:
print(f"The previous year's gross income is: {transactionsDF_working.sum()}")

The previous year's gross income is: amount    70751.84
dtype: float64

---

# Budget Analysis
In this section, you will use the transactions DataFrame to analyze the customer's budget

1. Calculate the total spending per category and print the results (Hint: groupby or count transactions per category)
2. Generate a bar chart with the number of transactions for each category 
3. Calculate the expenses per month
4. Plot the total expenses per month

### Calculate the expenses per category

In [36]:
# YOUR CODE HERE

### Calculate the expenses per month

In [37]:
# YOUR CODE HERE